<div class="container margin_60">
	<div class="row no-padding-no-margin" >
		<!-- LHS -->
		<div class="col-md-8 no-padding-no-margin">
			<div class="row">
				<div class="col-md-12" >
					<table class="table table-striped cart-list1 add_bottom_30">
						<thead>
							<tr>
								<th>Item</th>
				                <th>Adults</th>
				                <th>Child</th>
		                		<th>Total</th>
		                	</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="thumb_cart">
				                        <img class="thum_img" src="resource/images/products/{{bookItem.product.image}}" alt="">
				                    </div>
				                     <span class="item_cart">{{ bookItem.product.title | toSaveHtml }}</span><br><br>
								</td>

								<td>
				                    <touch-spin quantity="bookItem.adult.count" callback="refreshCount()"max="50" min="1" /> 
				                </td>
				                <td>
				                    <touch-spin quantity="bookItem.child.count" callback="refreshCount()" max="50" min="0" /> 
				                </td>
				                <td class='price_itm'>
				                	<strong >SGD <span>{{bookItem.totalPrice }}</span></strong>
		                		</td>
							</tr>
						</tbody>
					</table>
					<tour-date cart-item="bookItem"></tour-date>
					<delivery-selection cart-item="bookItem"></delivery-selection>
					<available-service cart-item="bookItem"></available-service>
				</div> 
			</div> <!-- END OF UP SECTION-->
			<div class="row" style="margin-top:30px">
				<div class="col-md-12" >
					<a class="btn_1 outline pull-left" style="width: 35%;padding: 10px;text-align: center;font-size: 16px;" href="#/home"><i class="icon-right"></i> Continue shopping</a>
		        	<a class="btn_1 green pull-right" style="width: 35%;padding: 12px;text-align: center;font-size: 16px;" ng-click="vm.addToCart()">{{getCartLabel()}}</a>
				</div>
			</div>
		</div>
		

		<aside class="col-md-4">
			<div class="box_style_1">
        		<h3 class="inner">- Summary -</h3>
        		<table class="table table_summary">
		        <tbody id="side_cart">
		            <tr>
		                <th><strong>Items</strong></th>
		                <th class="text-right"><strong>Price(SGD)</strong></th>
		            </tr>

		            <tr>
		                <td>Adult ( {{bookItem.adult.price }} x {{bookItem.adult.count}} )</td>
		                <td class="text-right">
		                	{{ bookItem.adult.totalPrice }}
		                </td>
		            </tr>
		            <tr>
		                <td>Child ( {{bookItem.child.price }} x {{bookItem.child.count}} )</td>
		                <td class="text-right">
		                	{{ bookItem.child.totalPrice }}
		                </td>
		            </tr>
		            <tr ng-repeat="additionalService in bookItem.additionalServices">
		            	<td>{{additionalService.name}}</td>
		                <td class="text-right">
		                	{{ additionalService.price }}
		                </td>
		            </tr>

		            <tr class="total">
			            <td>Total cost</td>
			            <td class="text-right">
			                {{bookItem.totalPrice}}
			            </td>
			        </tr>  
		         </tbody>
		        </table>
        	</div>
		</aside>

	</div> <!-- END OF ROW -->



	
</div>