<div class="modal-header" style="border-bottom:none;">
	<button id="close_modal" ng-click="dismiss()" class="btn btn-default" type="button" data-dismiss="modal" aria-label="Close" style="float: right;font-size: 14px;padding: 10px;">Close</button>                                      
    <div class="thumb_cart">
        <img class="thum_img" src="resource/images/products/{{item.image}}" alt="" width="" height="">
    </div>
    <h3 class="modal-title">{{item.title | toSaveHtml }}</h3>
    <div class="rating" style="margin-bottom:0px;text-align:left" >
        <span ng-bind-html='item | showVotedIcon'></span>
     </div>
</div>
<hr style="margin-top : 0px;">
<div class="modal-body">
	
	<span ng-bind-html='item | generateFeaturedItems'></span>
	<h4><strong>About Places</strong></h4>
	<span ng-bind-html='item.long_description | toSaveHtml'></span>
</div>
<!--
<div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>

-->
