


<div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom:none;">
<!---  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
          <button id="close_modal" class="btn btn-default" type="button" data-dismiss="modal" aria-label="Close" style="float: right;font-size: 14px;padding: 10px;">Close</button>
            hwllo
          </div>

</div>
