<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My App</title>
	<link href="resource/style/base.css" rel="stylesheet">
	<link href="resource/style/font-awesome-4.3.0/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="resource/style/chkbox_style.css" rel="stylesheet">
	<link rel="stylesheet" href="resource/style/moment-picker/angular-moment-picker.css"/>
	<link rel="stylesheet" href="resource/style/angular-growl/growl.css"/>
	<script src="resource/js/moment-with-locales.js"></script>

	<script>

		if(process.env.ENV === 'development'){
			var electron = require('electron');
			//console.log(electron.remote.BrowserWindow);

			// Ubuntu
			//electron.remote.BrowserWindow.addDevToolsExtension('/home/robin/.config/google-chrome/Default/Extensions/ighdmehidhipcmcojjgiloacoafjmpfk/0.10.7_0');

			// OSX
			electron.remote.BrowserWindow.addDevToolsExtension('/Users/rfoe/Library/Application Support/Google/Chrome/Default/Extensions/ighdmehidhipcmcojjgiloacoafjmpfk/0.10.7_0');

		}
		




	</script>

</head>
<body>
	<div ng-include="'include/header.html'" style="margin-bottom:20px;"></div>
	<div growl></div>
	<div ng-view ></div>
	<script>
	(function() {
				const script = document.createElement('script');
				//script.src = process.env.ENV === 'development' ? 'http://localhost:9000/dist/bundle.js' : './dist/bundle.js';
				script.src = '../../build/bundle.js';
				document.write(script.outerHTML);
			}());
		</script>

</body>
</html>
