<header id="plain" ondragstart="return false;" ondrop="return false;">
  <div class="container">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <div id="logo">
            <a href="#"><img src="./resource/images/logo_sticky.png" width="220" height="60" alt="Stability" data-retina="true" class="logo_normal"></a>
            <a href="#"><img src="./resource/images/logo_sticky.png" width="220" height="60" alt="Stability" data-retina="true" class="logo_sticky"></a>
        </div>
    </div>
    <nav class="col-md-9 col-sm-9 col-xs-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
        <div class="main-menu">
            <div id="header_menu">
                <img src="./resource/images/logo_sticky.png" width="220" height="60" alt="Stability" data-retina="true">
            </div>
            <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                <a class="btn_1 white menubtn cherry process" href="#/home">Home</a>
                <a class="btn_1 white menubtn cherry process" href="#/product">Products</a>
                <a class="btn_1 white menubtn cherry process" href="#/contact">Contact Us</a>
                <button type="button" class="btn_1 white menubtn cherry" data-toggle="modal" data-target="#myModal"> Price List </button>

  				<!-- Modal -->
  				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  				  <div class="modal-dialog" role="document">
  				    <div class="modal-content">
  				      <div class="modal-header">
  				        <button id="close_modal" class="btn btn-default" style="float: right;font-size: 14px;padding: 10px margin-bottom:10px;" aria-label="Close" data-dismiss="modal" type="button">Close</button>
  				        <h4 class="modal-title" id="myModalLabel">Price List</h4>
  				      </div>
  				      <div class="modal-body">
  				          <img src="./resources/images/PriceList.gif" class="img-responsive pricelist">
  				      </div>
  				        <br>
  				      <div class="modal-footer">
  				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  				      </div>
  				    </div>
  				  </div>
  				</div>
          <ul id="top_tools">
            <li>
                <div ng-controller="CartController" uib-dropdown class="dropdown dropdown-cart">

                  <button shake-that listen="EVENT.CART_CHANGED" id="single-button" type="button" class="btn_1 green btn_hover dropdown-toggle" uib-dropdown-toggle>
                    <i class=" icon-basket-1"></i><span id="cart_header" >Cart ( {{count()}} ) </span>
                  </button>

                  <ul id="cart_items" class="dropdown-menu " uib-dropdown-menu role="menu" aria-labelledby="single-button" style="width: 320px !important;font-size:14px !important;">
                    <li ng-repeat="cart in getCarts()">
                        <div class="image">
                          <img class="thum_img" src="resource/images/products/{{cart.product.image}}" alt="">
                        </div>
                        <strong>
                          <span style="cursor : pointer" class="text-size-12-bold-white" ng-click="goToCart(cart)">{{cart.product.title | toSaveHtml }}</span>
                          
                        </strong>
                        <span class="pull-left text-soft-grey"> {{cart.adult.count}} Adult(s) {{cart.child.count}} Child(s) @ ${{cart.totalPrice}}</span>
                      </li>  

                      <li>
                        <div>Total : SGD <span id="cart_total">{{getGrandTotal()}}</span></div>
                        <a href="#/show-cart" class="btn-cart button_drop">Go to cart</a>
                        <a href="#/check-out" class="btn-cart button_drop outline" style="margin-left:26px">Check out</a>
                        <a href="#" ng-click="clearCart()" class="button_drop outline" style="font-size: 14px !important;line-height: 2.5em !important;margin-top:12px;width:100%">
                          <div id="progress" title="Code: 0xe802" class="the-icons" style="width:100%;padding: 0px !important; display:none; font-size:16px">
                            <i class="icon-spin5 animate-spin"></i>
                            <span class="i-name"></span><span class="i-code"></span>
                          </div>Clear Cart & Start Over
                          </a>
                      </li>  
                  </ul>

                  
                     
              </div>
            </li>
          </ul>
      </div>


      
  </div>
</header>
