
<div class="tour_container" style="border: 1px solid #ccc;">
  <div class="img_container" style="border-bottom:none !important;">
    <a style="cursor:pointer" >
        <img src="resource/images/products/{{item.image}}" class="img-responsive product-img" alt=""  width="" height="">
        <img src="resource/images/products/{{item.image}}" class="img-responsive product-img blur" alt="" width="" height="" style="display: none;"  width="" height="">
        <div ng-class="showFeature(item)" ></div>


    </a>

  </div>

  <div class="catalog-price-bar" >
      <div style="padding:10px;font-size:20px;text-align:right;">
          <span class="text-size-11-bold-white" style='float:left;text-align:left;'>{{ item | showEticket }}</span>
          <span ng-if="item.promo_adult_price > 0" class="text-size-18-bold-white">S$ {{ item.promo_adult_price | toAbsoluteValue }}</span>
          <span ng-if="item.promo_adult_price > 0" class="text-size-18-bold-white" style="text-decoration: line-through;">S$ {{ item.adult_price | toAbsoluteValue }}</span>
          <span ng-if="item.promo_adult_price == 0" class="text-size-18-bold-white"> S$ {{ item.adult_price | toAbsoluteValue }}</span>
      </div>
  </div>

  <div class="tour_title" >
      <h3><strong>{{item.title | toSaveHtml }}</strong></h3>
      <div class="rating" style="margin-bottom:5px;text-align:right" >
        <span ng-bind-html='item | showVotedIcon'></span>
      </div>
      <div style="text-align:center">
          <a class="btn_1 green"  data-toggle="modal" data-target="" style="min-width:90px !important; padding:7px 10px;">Read more</a>
          <a class="btn_1"  style="padding:7px 10px;">Book now</a>
      </div>

  </div>

</div>
